@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One&family=Gochi+Hand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.left-avatar-rotate{
    rotate: 30deg;
}

.right-avatar-rotate{
    rotate: -30deg;
}



/* .h1{--font-selector: Q1VTVE9NO0Flb25payBCb2xk; --framer-font-family: &quot;Aeonik Bold&quot;, &quot;Aeonik Bold Placeholder&quot;, sans-serif; --framer-font-size: 64px; --framer-letter-spacing: -1.7px; --framer-line-height: 1.16em; --framer-text-alignment: center; --framer-text-color: rgb(31, 31, 31);} */