@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One&family=Gochi+Hand&family=Passion+One:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.left-avatar-rotate{
    rotate: 30deg;
}

.right-avatar-rotate{
    rotate: -30deg;
}

.problem-text{
    rotate: -5deg;
}


